@import url('styles/ovidentia.css');

#leftcontent, #rightcontent, #ovfx_menu, #ctx_menu {
	display:none;
	}

#centercontent {
	margin:0;
	}

#ovfx_page {
	border:none;
	margin:0;
	}

address {
	margin:.5em 0;
	}