<OFRequest name="smed_id">

<OCSitemapEntries node="<OVsmed_id>" limit="1">
    <script type="text/javascript">
    function sitemapeditor_firstChild() {
	    var base = document.getElementsByTagName('base')[0].href;
	    var lastslash = base.lastIndexOf('/');
	    if(lastslash != base.length - 1) {
	    	base = base.substr(0, lastslash +1);
	    }
	    // internet explorer does not use the base tag with location.href
	    window.location.href = base+'<OVSitemapEntryUrl>';
    }
    
    sitemapeditor_firstChild();
    </script>
</OCSitemapEntries>
