<style type="text/css">
@import url('<OFGetSelectedSkinPath>/styles/homepage.css');
</style>
<div class="workspace-home-last-content">

	<h3><a href="?tg=addon/workspace/main&idx=articles:displayList"><OFTranslate text="Articles"></a></h3>
	<dl>
		<OCRecentArticles last="3" topicid="<OVtopicid>" >
		<!--<OVArticleDate date="%D %j %M" saveas="tmpdate"> -->
		<OCIfNotEqual expr1="<OVRecentArticles_date>" expr2="<OVtmpdate>">
		<dt><OVtmpdate saveas="RecentArticles_date"></dt>
		</OCIfNotEqual>
		<dd>
			<h4><a href="index.php?tg=addon/workspace/main&idx=articles:show&article=<OVArticleId>"><OVArticleTitle></a> <em>|</em> <span><OVArticleDate date="%H:%i"></span></h4>
			<p><OVArticleHead striptags="1" strlen="100,..."></p>
		</dd>
		</OCRecentArticles>
	</dl>

	<h3><a href="?tg=addon/workspace/main&idx=forum:listThreads"><OFTranslate text="Forum"></a></h3>
	<dl>
		<OCRecentPosts last="3" delegationid="<OVdelegid>" >
		<!--<OVPostDate date="%D %j %M" saveas="tmpdate"> -->
		<OCIfNotEqual expr1="<OVRecentPosts_date>" expr2="<OVtmpdate>">
		<dt><OVtmpdate saveas="RecentPosts_date"></dt>
		</OCIfNotEqual>
		<dd>
			<h4><a href="?tg=addon/workspace/main&idx=forum:listPosts&thread=<OVPostThreadId>&post=<OVPostId>#workspace_post_<OVPostId>"><OVPostTitle></a> <em>|</em> <span><OVPostDate date="%H:%i"></span></h4>
			<p><OVPostText striptags="1" strlen="100,..."></p>
		</dd>
		</OCRecentPosts>
	</dl>

	<h3><a href="?tg=addon/workspace/main&idx=files:browse"><OFTranslate text="Files"></a></h3>
	<dl>
		<OCRecentFiles last="3" folderid="<OVrootfolderid>" >
		<!--<OVFileDate date="%D %j %M" saveas="tmpfiledate"> -->
		<OCIfNotEqual expr1="<OVRecentFiles_date>" expr2="<OVtmpfiledate>">
		<dt><OVtmpfiledate saveas="RecentFiles_date"></dt>
		</OCIfNotEqual>
		<dd>
			<h4><a href="?tg=addon/workspace/main&idx=files:displayFile&pathname=DG<OVFileDelegationId>/<OVFilePath><OVFileName>"><OVFileName></a> <em>|</em> <span><OVFileDate date="%H:%i"></span></h4>
			<p><OFTranslate text="Folder"> : <a href="?tg=addon/workspace/main&idx=files:browse&path=DG<OVFileDelegationId>/<OVFilePath>"><OVFilePath></a></p>
		</dd>
		</OCRecentFiles>
	</dl>

<!-- 
	<h3><a href="?tg=addon/workspace/main&idx=calendars:displayWeek"><OFTranslate text="Calendar"></a></h3>
	<dl>
		<OCCalendarUserEvents limit="0,7">
		<!--<OVEventBeginDate date="%D %j %M" saveas="tmpdate"> -->
		<OCIfNotEqual expr1="<OVCalendarUserEvents_date>" expr2="<OVtmpdate>">
		<dt><OVtmpdate saveas="CalendarUserEvents_date"></dt>
		</OCIfNotEqual>
		<dd>
			<h4><a href="index.php?tg=addon/workspace/main&idx=calendars:editEvent&event=<OVEventId>"><OVEventTitle></a> <em>|</em> <span style="background-color:#<OVEventCategoryColor>"><OVEventBeginDate date="%H:%i"></span></h4>
			<p><OVEventDescription striptags="1" strlen="100,..."></p>
		</dd>
		</OCCalendarUserEvents>
	</dl>
-->
</div>

<OCAddon name="workspace" action="getArticles" rows="3" topicid="<OVtopicid>" orderby="publication" order="asc" topicorder="yes">
 <div class="workspace-article">
   <h1><OVArticleTitle></h1>
   <div class="workspace-article-date icon-left-16 icon-16x16 icon-left">
     <span class="workspace-article-date"><OVArticleDate date="%D %j %M %H:%i"></span>
     <OCIfNotEqual expr1="<OVArticleEditUrl>" expr2="">
      |
     <a href="index.php?tg=addon/workspace/main&idx=articles:edit&article=<OVArticleId>" class="widget-link">
       <span class="widget-icon icon actions-document-properties">
         <span class="widget-icon-image-container icon-image-container"><span class="widget-icon-label icon-label"><OFTranslate text="Edit"></span></span>
       </span>
     </a>
     </OCIfNotEqual>
   </div>
   <div class="workspace-article-body"><OVArticleHead></div>
 </div>
</OCAddon>


<hr class="clear" />

